.imge-card {
  max-width: 400px;
}

.profile-background-image {
  background-image: url("/images/patrick-tomasso-QMDap1TAu0g-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100vw;
}

.card-background {
  background-color: rgba(253, 253, 253, 0.83);
  border: 2px solid rgb(208, 228, 234, 0.7);
}
