.img-card {
  height: 200px;
}

.dashboard-background-image {
  background-image: url("/images/fabian-gieske-7ffF2Cg_Faw-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100vw;
}
