.board-background-image {
  background-image: url("/images/patrick-tomasso-QMDap1TAu0g-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100vw;
}

#link-board {
  color: black !important;
  text-decoration: none !important;
}
