.img-card {
  height: 200px;
}

.dashboard-background-image {
  background-image: url("/images/t-r-photography-TzjMd7i5WQI-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
