.background-image {
  background-image: url("/images/anna-dudkova--KWX2LlZ_3M-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.title {
  background-color: rgba(250, 243, 243, 0.931);
  opacity: 0.7;
  color: black;
}

.band {
  background-color: rgba(138, 188, 203, 0.931);
}
