.logo-login {
  width: "72";
  height: "72";
}

.login-background-image {
  background-image: url("/images/ken-reid-ZRZSmK362Xw-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
